.container{
    background: #1E213A;
}

.image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    height: 30%;
}

.temperature{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    /* identical to box height */


    color: #E7E7EB;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #A09FB1;
}

.date{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 22px;
    color: #A09FB1;
}

@media screen and (max-width: 768px) {
.image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 2rem;
    height: 30%;
}
}